footer.page-footer-base-transparent
  .shell
    p.rights
      | &nbsp;&copy;&nbsp;
      span(id="copyright-year")
      span .&nbsp;
      span All Rights Reserved
      br.veil-sm
      a(href="#") Terms of Use
      span and
      a(href="privacy-policy.html") Privacy Policy