
footer.page-footer
  .shell
    ul.list-inline-xs
      li: a.icon.icon-md.icon-gray-8.fa.fa-facebook-square(href='#')
      li: a.icon.icon-md.icon-gray-8.fa.fa-instagram(href='#')
      li: a.icon.icon-md.icon-gray-8.fa.fa-twitter-square(href='#')
      li: a.icon.icon-md.icon-gray-8.fa.fa-pinterest-square(href='#')
    p.rights
      =brandName
      | &nbsp;&copy;&nbsp;
      span(id="copyright-year")
      | .&nbsp;
      
      