header.page-header
  // RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-navbar-transparent.context-dark(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-sm-device-layout='rd-navbar-fixed', data-md-layout='rd-navbar-sidebar', data-md-device-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-sidebar', data-lg-layout='rd-navbar-sidebar', data-md-stick-up-offset='10px', data-lg-hover-on='false', data-body-class='rd-navbar-absolute', data-stick-up='true', data-sm-stick-up='true', data-md-stick-up='true', data-lg-stick-up='true')
      .rd-navbar-inner
        // RD Navbar Panel
        .rd-navbar-panel
         

          // RD Navbar Brand
          .rd-navbar-brand
            a.brand-name(href='index.html')
              +png(logoDefault)

       
        // RD Navbar Aside
        .rd-navbar-aside
          .rd-navbar-aside-toggle(data-rd-navbar-toggle='.rd-navbar-aside'): span
          .rd-navbar-aside-content
            .object-inline-md-wrap
              a.object-inline-md(href='#')
                span.icon.icon-sm-smaller.icon-white.fl-bigmug-line-big104
                span 267 Park Avenue  New York, NY 90210

            .object-inline-md
              span.icon.icon-sm-smaller.icon-white.fl-bigmug-line-nine16
              span Mon-Sun: 9:00 AM - 5:00 PM
='\n'