// Swiper & parallax
section.swiper-bg-wrap.swiper-style-2.bg-gray-dark

    .swiper-container.swiper-slider.swiper-style-classic(data-autoplay='false' data-slide-effect='fade' data-height="80vh" data-min-height="400px")
      .swiper-wrapper
        .swiper-slide(data-slide-bg='images/slider1-slide-1.jpg')
          .shell.text-center(data-speed='0.5', data-fade='true')
            .range.range-md-center
              .cell-md-10
                h1(data-caption-animate='fadeInUp' data-caption-delay='100') Choose Your Fight
                h2.text-light(data-caption-animate='fadeInUp' data-caption-delay='100') At Martial Arts School
                a.button.button-primary.button-effect-ujarak2(href='#modal' data-caption-animate='fadeInUp' data-caption-delay='250' data-toggle='modal') Join Our Groups 

        .swiper-slide(data-slide-bg='images/slider1-slide-2.jpg')
          .shell.text-center(data-speed='0.5', data-fade='true')
            .range.range-md-center
              .cell-md-10
                h1(data-caption-animate='fadeInUp' data-caption-delay='100') Connect
                h2.text-light(data-caption-animate='fadeInUp' data-caption-delay='100') and grow together
                a.button.button-primary.button-effect-ujarak2(href='#modal' data-caption-animate='fadeInUp' data-caption-delay='250' data-toggle='modal') Join Our Groups  

      // Swiper Navigation
      .swiper-button-prev
      .swiper-button-next

      // Swiper pagination
      .swiper-pagination
='\n'