//
// Page title
// --------------------------------------------------
.page-title {
  position: relative;
  z-index: 1;
  padding: 40px 15px;
  text-align: center;

  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 50%;
  background-color: #1b181d;
  background-image: url(../images/bg-image-1.jpg);
}

.page-title-text {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 0;
  color: $white;
}

@media (min-width: $screen-sm-min) {
  .page-title {
    padding: 60px 15px;
  }

  .page-title-text {
    font-size: 42px;
  }
}


@media (min-width: $screen-md-min) {
  .page-title {
    padding-top: 140px;
  }

  .page-title-text {
    font-size: $font-size-h2;
  }
}

@media (min-width: $screen-lg-min) {
  .page-title {
    padding: 200px 15px 124px;
  }
}
