mixin quote-classic(obj)
  // Quote classic
  article.quote-classic
    .quote-classic__mark
      svg(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='70.935px', height='74px', viewbox='0 0 70.935 74', xml:space='preserve')
        path(d='M41.609,73.336c6.719-0.297,12.719-2.977,17.344-7.75\
            c12.27-12.649,12.035-36.488,11.969-39.125l-0.004-24.86C70.918,0.719,70.203,0,69.32,0H44.766c-0.883,0-1.598,0.719-1.598,1.601\
            v24.551c0,0.883,0.715,1.602,1.598,1.602h12.546c0,2.051-0.25,20.246-8.148,28.363c-2.137,2.195-4.668,3.371-7.738,3.586\
            c-0.836,0.063-1.488,0.758-1.488,1.598v10.433c0,0.438,0.179,0.856,0.496,1.157C40.746,73.195,41.168,73.363,41.609,73.336\
            L41.609,73.336z M41.609,73.336')
        path(d='M0.492,72.894c0.317,0.301,0.727,0.469,1.18,0.442c6.719-0.297,12.715-2.977,17.344-7.75\
            C31.285,52.937,31.047,29.098,30.98,26.461V1.601C30.98,0.719,30.262,0,29.379,0H4.828C3.945,0,3.227,0.719,3.227,1.601v24.551\
            c0,0.883,0.718,1.602,1.601,1.602h12.547C17.371,29.805,17.125,48,9.227,56.117c-2.137,2.195-4.668,3.371-7.739,3.586\
            C0.648,59.766,0,60.461,0,61.301v10.433C0,72.172,0.176,72.59,0.492,72.894L0.492,72.894z M0.492,72.894')
    .quote-classic__body: p.q=obj.text