<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:400,700,900,400italic%7CUbuntu:300,300i,400,400i,700,700i">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{{ url_for('static', filename='images/ie8-panel/warning_bar_0000_us.jpg') }}" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page">
      <div id="page-loader">
        <div class="page-loader-image"><img src="{{ url_for('static', filename='images/logo-inverse-149x41.png') }}" alt="" width="149" height="41"/>
        </div>
        <div class="page-loader-body">
          <div class="cssload-preloader cssload-loading"><span class="cssload-slice"></span><span class="cssload-slice"></span><span class="cssload-slice"></span><span class="cssload-slice"></span><span class="cssload-slice"></span><span class="cssload-slice"></span></div>
        </div>
      </div>
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-transparent context-dark" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-sidebar" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-sidebar" data-lg-layout="rd-navbar-sidebar" data-md-stick-up-offset="10px" data-lg-hover-on="false" data-body-class="rd-navbar-absolute" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="{{ url_for('static', filename='images/logo-default-149x41.png') }}" alt="" width="149" height="41"/></a></div>
              </div>
              <!-- RD Navbar Aside-->
              <div class="rd-navbar-aside">
                <div class="rd-navbar-aside-toggle" data-rd-navbar-toggle=".rd-navbar-aside"><span></span></div>
                <div class="rd-navbar-aside-content">
                  <div class="object-inline-md-wrap"><a class="object-inline-md" href="#"><span class="icon icon-sm-smaller icon-white fl-bigmug-line-big104"></span><span>267 Park Avenue  New York, NY 90210</span></a></div>
                  <div class="object-inline-md"><span class="icon icon-sm-smaller icon-white fl-bigmug-line-nine16"></span><span>Mon-Sun: 9:00 AM - 5:00 PM</span></div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>

      <!-- Swiper & parallax-->
      <section class="swiper-bg-wrap swiper-style-2 bg-gray-dark">
        <div class="swiper-container swiper-slider swiper-style-classic" data-autoplay="false" data-slide-effect="fade" data-height="80vh" data-min-height="400px">
          <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="{{ url_for('static', filename='images/slider1-slide-1.jpg') }}">
              <div class="shell text-center" data-speed="0.5" data-fade="true">
                <div class="range range-md-center">
                  <div class="cell-md-10">
                    <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Choose Your Fight</h1>
                    <h2 class="text-light" data-caption-animate="fadeInUp" data-caption-delay="100">At Martial Arts School</h2><a class="button button-primary button-effect-ujarak2" href="#modal" data-caption-animate="fadeInUp" data-caption-delay="250" data-toggle="modal">Join Our Groups </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide" data-slide-bg="{{ url_for('static', filename='images/slider1-slide-2.jpg') }}">
              <div class="shell text-center" data-speed="0.5" data-fade="true">
                <div class="range range-md-center">
                  <div class="cell-md-10">
                    <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Connect</h1>
                    <h2 class="text-light" data-caption-animate="fadeInUp" data-caption-delay="100">and grow together</h2><a class="button button-primary button-effect-ujarak2" href="#modal" data-caption-animate="fadeInUp" data-caption-delay="250" data-toggle="modal">Join Our Groups  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Swiper Navigation-->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
          <!-- Swiper pagination-->
          <div class="swiper-pagination"></div>
        </div>
      </section>

      <!-- About-->
      <section class="section-lg section-md-alternate bg-white">
        <div class="shell">
          <div class="range range-sm-center range-50">
            <div class="cell-sm-9 cell-md-6">
              <div class="inset-1">
                <div class="hgroup">
                  <h2>About Our School</h2>
                  <h6>Ultimate Fighting Martial Arts Club</h6>
                </div>
                <p>While the story of this Martial Arts school is not as tumultuous and vivid as some stories out of ancient Chinese or Japanese epos tales, still we have more than 20 years of our proud history… It was in 1996, when the founder of the club, Randy Bailey was still considering whether to go to the college for getting a law degree or pursue a career.</p>
                <p>Luckily for the students he and his instructors have taught since, Randy decided that founding a school of his own would be the best decision. During those 20 years Randy and his colleagues have achieved a tremendous level of success, helping thousands of individuals in becoming more empowered, fit, healthy and mind-balanced!</p>
              </div>
            </div>
            <div class="cell-sm-9 cell-md-6">
              <figure class="figure-bordered block-md-right"><img src="{{ url_for('static', filename='images/welcome-1-485x479.jpg') }}" alt="" width="485" height="479"/>
              </figure>
            </div>
          </div>
        </div>
      </section>

      <!-- Our Values-->
      <section class="section-lg bg-gray-lighter text-center"> 
        <div class="shell">
          <h2>What We Offer</h2>
          <ul class="list-indexed-boxed">
            <li class="list-indexed-boxed-item"> 
              <div class="list-indexed-boxed-item__index"> </div>
              <div class="list-indexed-boxed-item__body">
                <p class="list-indexed-boxed-item__title">Qualified Coaches</p>
                <p>Our instructors and coaches are highly experienced and provide a positive environment that makes training fun and enjoyable. All physical techniques taught are practical and sensible.</p>
              </div>
            </li>
            <li class="list-indexed-boxed-item">
              <div class="list-indexed-boxed-item__index"></div>
              <div class="list-indexed-boxed-item__body">
                <p class="list-indexed-boxed-item__title">Good Location</p>
                <p>Finding the right location for a martial arts studio is a major factor in your success.  It is also important to make sure the studio is located in a safe area.</p>
              </div>
            </li>
            <li class="list-indexed-boxed-item">
              <div class="list-indexed-boxed-item__index"></div>
              <div class="list-indexed-boxed-item__body">
                <p class="list-indexed-boxed-item__title">Quality Rooms and Rings</p>
                <p>We offer premier-quality flooring for training facilities,   along with all the products necessary for outfitting any gym or studio to its maximum potential.</p>
              </div>
            </li>
            <li class="list-indexed-boxed-item">
              <div class="list-indexed-boxed-item__index"></div>
              <div class="list-indexed-boxed-item__body">
                <p class="list-indexed-boxed-item__title">Modern Equipment</p>
                <p>We are focused on a wide variety of martial arts training equipment. The use of training equipment is always supervised by an experienced martial arts instructor. </p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <!-- Our Team-->
      <section class="section-md bg-white text-center">
        <div class="shell">
          <h2>Our Team</h2>
          <div class="range range-30">
            <div class="cell-sm-6 cell-md-3">
              <!-- Thumb bordered-->
              <div class="thumb-bordered"><img src="{{ url_for('static', filename='images/randy-bailey-270x255.jpg') }}" alt="" width="270" height="255"/>
                <div class="thumb-bordered__body">
                  <p class="thumb-bordered__title"><a href="#">Randy Bailey</a></p>
                  <p class="thumb-bordered__caption">Trainer</p>
                  <ul class="list-inline-xxs">
                    <li><a class="icon icon-md link-gray fa fa-facebook-square" href="#"></a></li>
                    <li><a class="icon icon-md link-gray fa fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md link-gray fa fa-twitter-square" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
              <!-- Thumb bordered-->
              <div class="thumb-bordered"><img src="{{ url_for('static', filename='images/hugh-barrister-270x255.jpg') }}" alt="" width="270" height="255"/>
                <div class="thumb-bordered__body">
                  <p class="thumb-bordered__title"><a href="#">Hugh Barrister</a></p>
                  <p class="thumb-bordered__caption">Instructor</p>
                  <ul class="list-inline-xxs">
                    <li><a class="icon icon-md link-gray fa fa-facebook-square" href="#"></a></li>
                    <li><a class="icon icon-md link-gray fa fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md link-gray fa fa-twitter-square" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
              <!-- Thumb bordered-->
              <div class="thumb-bordered"><img src="{{ url_for('static', filename='images/susan-stone-270x255.jpg') }}" alt="" width="270" height="255"/>
                <div class="thumb-bordered__body">
                  <p class="thumb-bordered__title"><a href="#">Susan Stone</a></p>
                  <p class="thumb-bordered__caption">Coach</p>
                  <ul class="list-inline-xxs">
                    <li><a class="icon icon-md link-gray fa fa-facebook-square" href="#"></a></li>
                    <li><a class="icon icon-md link-gray fa fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md link-gray fa fa-twitter-square" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="cell-sm-6 cell-md-3">
              <!-- Thumb bordered-->
              <div class="thumb-bordered"><img src="{{ url_for('static', filename='images/jane-smith-270x255.jpg') }}" alt="" width="270" height="255"/>
                <div class="thumb-bordered__body">
                  <p class="thumb-bordered__title"><a href="#">Jack Smith</a></p>
                  <p class="thumb-bordered__caption">Coach</p>
                  <ul class="list-inline-xxs">
                    <li><a class="icon icon-md link-gray fa fa-facebook-square" href="#"></a></li>
                    <li><a class="icon icon-md link-gray fa fa-instagram" href="#"></a></li>
                    <li><a class="icon icon-md link-gray fa fa-twitter-square" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Becoming a Member of Our Church-->
      <section class="section parallax-container bg-gray-dark text-center bg-black bg-image" data-parallax-img="{{ url_for('static', filename='images/bg-image-3.jpg') }}">
        <div class="parallax-content">   
          <div class="section-md">
            <div class="shell">
              <div class="range range-sm-center">
                <div class="cell-sm-10 cell-md-8 cell-lg-7">
                  <h3>Subscribe to Our Newsletter</h3>
                  <p class="big text-width-small">Sign up to our newsletter and be the first to know about latest school news, special offers, events, and discounts.</p>
                  <!-- RD Mailform-->
                  <form class="rd-mailform form-inline form-center" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                    <div class="form-wrap">
                      <input class="form-input" id="subscribe-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="subscribe-email">info@demolink.org</label>
                    </div>
                    <button class="button button-secondary button-effect-ujarak" type="submit">Subscribe</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Programs-->
      <section class="section-md bg-gray-lighter text-center">
        <div class="shell">
          <h2>Martial Arts Groups</h2>
          <p class="big text-width-large">A wide variety of hard and soft styles are taught at Martial Arts School. It's a great opportunity to deepen into your own practice and cross-train in styles that are new to you.</p>
          <div class="range range-30">
            <div class="cell-sm-6 cell-md-4"> 
              <!-- Post boxed-->
              <article class="post-boxed">
                <figure class="post-boxed__image"><img src="{{ url_for('static', filename='images/groups-1-370x278.jpg') }}" alt="" width="370" height="278"/>
                </figure>
                <div class="post-boxed__body">
                  <p class="post-boxed__time">Thursdays, 7:30 PM</p>
                  <p class="post-boxed__title"><a href="#">Aikido</a></p><a class="link link-arrow" href="#">Join up</a>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <!-- Post boxed-->
              <article class="post-boxed">
                <figure class="post-boxed__image"><img src="{{ url_for('static', filename='images/groups-2-370x278.jpg') }}" alt="" width="370" height="278"/>
                </figure>
                <div class="post-boxed__body">
                  <p class="post-boxed__time">Mondays, 6:30 PM </p>
                  <p class="post-boxed__title"><a href="#">Boxing</a></p><a class="link link-arrow" href="#">Join up</a>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4"> 
              <!-- Post boxed-->
              <article class="post-boxed">
                <figure class="post-boxed__image"><img src="{{ url_for('static', filename='images/groups-3-370x278.jpg') }}" alt="" width="370" height="278"/>
                </figure>
                <div class="post-boxed__body">
                  <p class="post-boxed__time">Wednesdays, 7:30 PM</p>
                  <p class="post-boxed__title"><a href="#">MMA</a></p><a class="link link-arrow" href="#">Join up</a>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <!-- Post boxed-->
              <article class="post-boxed">
                <figure class="post-boxed__image"><img src="{{ url_for('static', filename='images/groups-4-370x278.jpg') }}" alt="" width="370" height="278"/>
                </figure>
                <div class="post-boxed__body">
                  <p class="post-boxed__time">Thursdays, 7:30 PM</p>
                  <p class="post-boxed__title"><a href="#">Karate</a></p><a class="link link-arrow" href="#">Join up</a>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <!-- Post boxed-->
              <article class="post-boxed">
                <figure class="post-boxed__image"><img src="{{ url_for('static', filename='images/groups-5-370x278.jpg') }}" alt="" width="370" height="278"/>
                </figure>
                <div class="post-boxed__body">
                  <p class="post-boxed__time">Saturdays, 6:30 PM</p>
                  <p class="post-boxed__title"><a href="#">Women`s Group</a></p><a class="link link-arrow" href="#">Join up</a>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <!-- Post boxed-->
              <article class="post-boxed">
                <figure class="post-boxed__image"><img src="{{ url_for('static', filename='images/groups-6-370x278.jpg') }}" alt="" width="370" height="278"/>
                </figure>
                <div class="post-boxed__body">
                  <p class="post-boxed__time">Wednesdays, 7:30 PM</p>
                  <p class="post-boxed__title"><a href="#">Children`s Group</a></p><a class="link link-arrow" href="#">Join up</a>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <section class="section parallax-container bg-gray-dark text-center bg-black bg-image" data-parallax-img="{{ url_for('static', filename='images/bg-image-6.jpg') }}">
        <div class="parallax-content">
          <div class="section-md">
            <div class="shell">
              <div class="range range-sm-center">
                <div class="cell-sm-10">
                  <h2>Find Your Group</h2>
                  <p>Special Training offers classes for all skill levels.  Whether you've trained for a day or a decade, you'll find classes that challenge and inspire you.   Every session includes open classes for all levels of experience.</p><a class="button button-primary button-effect-ujarak" href="#modal" data-toggle="modal">Join Our Groups</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Upcoming Events-->
      <section class="section-md bg-gray-lighter text-center">
        <div class="shell">
          <h2>Upcoming Events</h2>
          <div class="range range-sm-center range-md-left range-30">
            <div class="cell-sm-9 cell-md-6">
              <article class="post-event"><a href="#">
                  <div class="post-event__image"><img src="{{ url_for('static', filename='images/event-1-570x570.jpg') }}" alt="" width="570" height="570"/>
                  </div>
                  <div class="post-event__inner">
                    <div class="post-event__time">
                      <svg class="post-event__time-shape" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="127px" height="118px" viewbox="0 0 127 118" xml:space="preserve" preserveAspectRatio="none">
                        <polygon points="0,0 112.5,0 127,59 112.833,118 0,118 "></polygon>
                      </svg><span class="post-event-time__big">11</span><span class="post-event-time__small">Nov</span>
                    </div>
                    <div class="post-event__body">
                      <p class="post-event__title">Women’s Open Training</p>
                      <ul class="list">
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-big104"></span><span>Local Gym Class 233 Main St. New York, United States</span></li>
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-event6"></span><span>Friday, 8:00-10:00 am</span></li>
                      </ul>
                    </div>
                  </div></a></article>
            </div>
            <div class="cell-sm-9 cell-md-6">
              <article class="post-event"><a href="#">
                  <div class="post-event__image"><img src="{{ url_for('static', filename='images/event-2-570x570.jpg') }}" alt="" width="570" height="570"/>
                  </div>
                  <div class="post-event__inner">
                    <div class="post-event__time">
                      <svg class="post-event__time-shape" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="127px" height="118px" viewbox="0 0 127 118" xml:space="preserve" preserveAspectRatio="none">
                        <polygon points="0,0 112.5,0 127,59 112.833,118 0,118 "></polygon>
                      </svg><span class="post-event-time__big">18</span><span class="post-event-time__small">Nov</span>
                    </div>
                    <div class="post-event__body">
                      <p class="post-event__title">Boxing Tricks</p>
                      <ul class="list">
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-big104"></span><span>Local Gym Class 233 Main St. New York, United States</span></li>
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-event6"></span><span>Wednesday, 5:00 pm, Tuesday, 8:00 am</span></li>
                      </ul>
                    </div>
                  </div></a></article>
            </div>
            <div class="cell-sm-9 cell-md-6">
              <article class="post-event"><a href="#">
                  <div class="post-event__image"><img src="{{ url_for('static', filename='images/event-3-570x570.jpg') }}" alt="" width="570" height="570"/>
                  </div>
                  <div class="post-event__inner">
                    <div class="post-event__time">
                      <svg class="post-event__time-shape" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="127px" height="118px" viewbox="0 0 127 118" xml:space="preserve" preserveAspectRatio="none">
                        <polygon points="0,0 112.5,0 127,59 112.833,118 0,118 "></polygon>
                      </svg><span class="post-event-time__big">24</span><span class="post-event-time__small">Oct</span>
                    </div>
                    <div class="post-event__body">
                      <p class="post-event__title">Asian Martial Arts </p>
                      <ul class="list">
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-big104"></span><span>Local Gym Class 233 Main St. New York, United States</span></li>
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-event6"></span><span>Monday, 8:00 am, Wednesday, 5:00 pm</span></li>
                      </ul>
                    </div>
                  </div></a></article>
            </div>
            <div class="cell-sm-9 cell-md-6">
              <article class="post-event"><a href="#">
                  <div class="post-event__image"><img src="{{ url_for('static', filename='images/event-4-570x570.jpg') }}" alt="" width="570" height="570"/>
                  </div>
                  <div class="post-event__inner">
                    <div class="post-event__time">
                      <svg class="post-event__time-shape" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="127px" height="118px" viewbox="0 0 127 118" xml:space="preserve" preserveAspectRatio="none">
                        <polygon points="0,0 112.5,0 127,59 112.833,118 0,118 "></polygon>
                      </svg><span class="post-event-time__big">15</span><span class="post-event-time__small">Oct</span>
                    </div>
                    <div class="post-event__body">
                      <p class="post-event__title">MMA Championship</p>
                      <ul class="list">
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-big104"></span><span>Local Gym Class 233 Main St. New York, United States</span></li>
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-event6"></span><span>Thursday, 5:00 pm, Friday, 8:00 am</span></li>
                      </ul>
                    </div>
                  </div></a></article>
            </div>
            <div class="cell-sm-9 cell-md-6"> 
              <article class="post-event"><a href="#">
                  <div class="post-event__image"><img src="{{ url_for('static', filename='images/event-5-570x570.jpg') }}" alt="" width="570" height="570"/>
                  </div>
                  <div class="post-event__inner">
                    <div class="post-event__time">
                      <svg class="post-event__time-shape" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="127px" height="118px" viewbox="0 0 127 118" xml:space="preserve" preserveAspectRatio="none">
                        <polygon points="0,0 112.5,0 127,59 112.833,118 0,118 "></polygon>
                      </svg><span class="post-event-time__big">01</span><span class="post-event-time__small">Oct</span>
                    </div>
                    <div class="post-event__body">
                      <p class="post-event__title">Martial Arts for Children</p>
                      <ul class="list">
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-big104"></span><span>Local Gym Class 233 Main St. New York, United States</span></li>
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-event6"></span><span>Tuesday, 10:00 am, Wednesday, 4:00 pm</span></li>
                      </ul>
                    </div>
                  </div></a></article>
            </div>
            <div class="cell-sm-9 cell-md-6">
              <article class="post-event"><a href="#">
                  <div class="post-event__image"><img src="{{ url_for('static', filename='images/event-6-570x570.jpg') }}" alt="" width="570" height="570"/>
                  </div>
                  <div class="post-event__inner">
                    <div class="post-event__time">
                      <svg class="post-event__time-shape" version="1.1" baseprofile="tiny" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="127px" height="118px" viewbox="0 0 127 118" xml:space="preserve" preserveAspectRatio="none">
                        <polygon points="0,0 112.5,0 127,59 112.833,118 0,118 "></polygon>
                      </svg><span class="post-event-time__big">29</span><span class="post-event-time__small">Sept</span>
                    </div>
                    <div class="post-event__body">
                      <p class="post-event__title">How to Choose Boxing Gloves</p>
                      <ul class="list">
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-big104"></span><span>Local Gym Class 233 Main St. New York, United States</span></li>
                        <li class="object-inline"><span class="icon icon-xxs fl-bigmug-line-event6"></span><span>Wednesday, 7:00 pm, Thursday, 9:00 am</span></li>
                      </ul>
                    </div>
                  </div></a></article>
            </div>
          </div>
        </div><a class="button button-primary button-effect-ujarak" href="#">View more</a>
      </section>
      <section class="section parallax-container bg-gray-dark text-center bg-black bg-image" data-parallax-img="{{ url_for('static', filename='images/bg-image-12.jpg') }}">
        <div class="parallax-content">
          <div class="section-md">
            <div class="shell">
              <div class="range range-sm-center">
                <div class="cell-sm-10 cell-md-8 cell-lg-7">
                  <h2>Get in Touch</h2>
                  <p>Let us answer your questions and help you plan your visit.</p><a class="button button-primary button-effect-ujarak" href="" data-custom-scroll-to="contacts">Contact us</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Our Locations-->
      <section class="section-md bg-white text-center">
        <div class="shell">
          <h2>Contact Information</h2>
          <p class="big text-width-small">Choose your nearest location to see available training options and programs. We’d love to see you there.</p>
          <div class="range range-50">
            <div class="cell-sm-6 cell-md-4">
              <article class="box-location"><img src="{{ url_for('static', filename='images/locations-1-370x278.jpg') }}" alt="" width="370" height="278"/>
                <div class="box-location__body">
                  <ul class="list">
                    <li><a class="object-inline" href="#"><span class="icon icon-xxs icon-secondary fl-bigmug-line-big104"></span><span>818 Noe Street <br> San Francisco, CA 94114</span></a></li>
                    <li><a class="object-inline" href="callto:#"><span class="icon icon-xxs icon-secondary fl-bigmug-line-phone351"></span><span>+1 (215) 123-1212</span></a></li>
                    <li><a class="object-inline" href="mailto:#"><span class="icon icon-xxs icon-secondary fl-bigmug-line-opened25"></span><span>mail@demolink.org</span></a></li>
                  </ul>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <article class="box-location"><img src="{{ url_for('static', filename='images/locations-2-370x278.jpg') }}" alt="" width="370" height="278"/>
                <div class="box-location__body">
                  <ul class="list">
                    <li><a class="object-inline" href="#"><span class="icon icon-xxs icon-secondary fl-bigmug-line-big104"></span><span>9863-9867 Mill Road, <br> Cambridge, MG09 99HT</span></a></li>
                    <li><a class="object-inline" href="callto:#"><span class="icon icon-xxs icon-secondary fl-bigmug-line-phone351"></span><span>+1 (215) 123-1212</span></a></li>
                    <li><a class="object-inline" href="mailto:#"><span class="icon icon-xxs icon-secondary fl-bigmug-line-opened25"></span><span>mail@demolink.org</span></a></li>
                  </ul>
                </div>
              </article>
            </div>
            <div class="cell-sm-6 cell-md-4">
              <article class="box-location"><img src="{{ url_for('static', filename='images/locations-3-370x278.jpg') }}" alt="" width="370" height="278"/>
                <div class="box-location__body">
                  <ul class="list">
                    <li><a href="#"><span class="icon icon-xxs icon-secondary fl-bigmug-line-big104"></span><span>9870 St. Vincent Place, <br> Glasgow, DC 45 FR 45</span></a></li>
                    <li><a href="callto:#"><span class="icon icon-xxs icon-secondary fl-bigmug-line-phone351"></span><span>+1 (215) 123-1212</span></a></li>
                    <li><a href="mailto:#"><span class="icon icon-xxs icon-secondary fl-bigmug-line-opened25"></span><span>mail@demolink.org</span></a></li>
                  </ul>
                </div>
              </article>
            </div>
          </div>
        </div>
      </section>

      <!-- Contact Us-->
      <section class="section-md last-section bg-white text-center" id="contacts">
        <div class="shell">
          <h2>Contact Us</h2>
          <div class="range range-sm-center">
            <div class="cell-sm-10 cell-md-10 cell-lg-6">
              <!-- RD Mailform-->
              <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="range range-sm-bottom range-spacing-20 range-20">
                  <div class="cell-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-name" type="text" name="name" data-constraints="@Required">
                      <label class="form-label" for="contact-name">Your Name</label>
                    </div>
                  </div>
                  <div class="cell-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-phone" type="text" name="phone" data-constraints="@Numeric">
                      <label class="form-label" for="contact-phone">Phone</label>
                    </div>
                  </div>
                  <div class="cell-xs-12">
                    <div class="form-wrap">
                      <textarea class="form-input" id="contact-message" name="message" data-constraints="@Required"></textarea>
                      <label class="form-label" for="contact-message">Your Message</label>
                    </div>
                  </div>
                  <div class="cell-sm-6">
                    <div class="form-wrap">
                      <input class="form-input" id="contact-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="contact-email">E-mail</label>
                    </div>
                  </div>
                  <div class="cell-sm-6">
                    <button class="button button-primary button-effect-ujarak button-block" type="submit">send message</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <footer class="page-footer">
        <div class="shell">
          <ul class="list-inline-xs">
            <li><a class="icon icon-md icon-gray-8 fa fa-facebook-square" href="#"></a></li>
            <li><a class="icon icon-md icon-gray-8 fa fa-instagram" href="#"></a></li>
            <li><a class="icon icon-md icon-gray-8 fa fa-twitter-square" href="#"></a></li>
            <li><a class="icon icon-md icon-gray-8 fa fa-pinterest-square" href="#"></a></li>
          </ul>
          <p class="rights">Martial arts school&nbsp;&copy;&nbsp;<span id="copyright-year"></span>.&nbsp;
          </p>
        </div>
      </footer>
      <!-- coded by barber -->
      <!-- Modal-->
      <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Join the Group</h4>
            </div>
            <div class="modal-body">
              <form class="rd-mailform" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="range range-sm-bottom range-spacing-20 range-20">
                  <div class="cell-sm-12">
                    <div class="form-wrap">
                      <input class="form-input" id="select-group-name" type="text" name="name" data-constraints="@Required">
                      <label class="form-label" for="select-group-name">Your Name</label>
                    </div>
                  </div>
                  <div class="cell-sm-12">
                    <div class="form-wrap">
                      <input class="form-input" id="select-group-email" type="email" name="email" data-constraints="@Email @Required">
                      <label class="form-label" for="select-group-email">E-mail</label>
                    </div>
                  </div>
                  <div class="cell-sm-12">
                    <div class="form-wrap">
                      <!--Select 2-->
                      <select class="form-input select-filter" id="select-group" data-placeholder="Select the Group" data-minimum-results-for-search="Infinity" data-constraints="@Required">
                        <option></option>
                        <option value="2">Aikido Thursdays, 7:30 PM</option>
                        <option value="3">Boxing Wednesdays, 7:30 PM</option>
                        <option value="4">Karate Thursdays, 7:30 PM</option>
                        <option value="5">Women`s Group Saturday, 6:30 PM</option>
                        <option value="6">Children`s Group Wednesdays, 7:30 PM</option>
                      </select>
                    </div>
                  </div>
                  <div class="cell-sm-12">
                    <button class="button button-primary button-effect-ujarak button-block" type="submit">Join the Group</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{{ url_for('static', filename='js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>