-
  var
  brandName = 'Martial arts school',
  logoDefault = 'logo-default-149x41',
  logoInverse = 'logo-inverse-149x41',
  logoGray = 'logo-gray-149x41',
  postLink = 'single-post.html',
  eventLink = 'event-page.html',
  singleTeamMemberLink = 'team-member-profile.html'
  menu = [
    {
      title: 'Home',
      link: 'index.html',
    },
    {
      title: 'Programs',
      link: 'programs.html',
        dropdown: [
          {
            title: 'Single Program',
            link: 'single-program.html'
          }
        ]
    },
    {
      title: 'About',
      link: '#',
      dropdown: [
        {
          title: 'Welcome',
          link: 'welcome.html'
        },
        {
          title: 'Our Advantages',
          link: 'our-advantages.html'
        },
        {
          title: 'Our Team',
          link: 'our-team.html',
        },
        {
          title: 'Team Member Profile',
          link: 'team-member-profile.html',
        }
      ]
    },
    {
      title: 'Events',
      link: 'events.html',
      dropdown: [
        {
          title: 'Event page',
          link: eventLink
        },
      ]
    },

    {
      title: 'Resources',
      link: '#',
      dropdown: [
        {
          title: 'Videos',
          link: 'videos.html'
        }
      ]
    },
    {
      title: 'Pages',
      link: '#',
      megamenu: [
        [
          {
            title: 'Elements',
            list: [
              {
                title: 'Buttons',
                link: 'buttons.html'
              },
              {
                title: 'Grid',
                link: 'grid.html'
              },
              {
                title: 'Forms',
                link: 'forms.html'
              },
              {
                title: 'Progress bars',
                link: 'progress-bars.html'
              },
              {
                title: 'Tabs & accordions',
                link: 'tabs-&-accordions.html'
              },
              {
                title: 'Tables',
                link: 'tables.html'
              },
              {
                title: 'Typography',
                link: 'typography.html'
              }
            ]
          }
        ],
        [
          {
            title: 'Pages 1',
            list: [
              {
                title: 'Contacts',
                link: 'contacts.html'
              },
              {
                title: '404 Page',
                link: '404-page.html'
              },
              {
                title: '503 Page',
                link: '503-page.html'
              },
              {
                title: 'Coming soon',
                link: 'coming-soon.html'
              },
              {
                title: 'Locations',
                link: 'locations.html'
              },
              {
                title: 'Privacy policy',
                link: 'privacy-policy.html'
              },
              {
                title: 'Site map',
                link: 'site-map.html'
              }
            ]
          }
        ]
      ]
    },
    {
      title: 'Blog',
      link: 'blog.html',
      dropdown: [
        {
          title: 'Modern blog',
          link: 'modern-blog.html'
        },
        {
          title: 'Single post',
          link: postLink
        }
      ]
    }
  ]